main{
    background-color: orangered;
}

.quadro {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
}

.historia{
    background-color: whitesmoke;
}
.matricula, .historia {
    padding: 15px;
    border-radius: 15px;
}

.matricula{
    background-color: black;
    color: orangered;
}
.btn-matricula{
    background-color: orangered;
    color: white;
    border-radius: 4px;
    border: 2px solid #FFA500;
}

h3 h2{
    font-weight: bold;
}

p label{
    font-size: medium;
    font: 50px;
}

.dados {
    text-align: left !important;
}

.piscar {
    color: orangered;
    border-radius: 2px;
    border: 2px outset  #FFA500;
    font-weight: bold;
    animation: piscar 1s infinite; 
    }

    @keyframes piscar {
      0%, 100% {
        opacity: 1; 
      }
      50% {
        opacity: 0; 
      }
}
