<header class="cabecalho ff-inter">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="cabecalho.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=PT+Serif:wght@700&display=swap" rel="stylesheet">
  
    <nav class="navbar navbar-expand-lg fixed-top img-logo">
        <section class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand" href="#inicio">
                <img src="https://i.pinimg.com/736x/44/2c/87/442c8773f9f0cb5c209f5b46ec7d1da0.jpg"
                alt="Lions logo" width="60" height="60"> </a>
                <ul>
                    <li><a class="nav-link bebas-neue-regular" href="#">Lyon's Gym</a></li>
                </ul>
          

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav menu d-flex gap-4">
                 <li><a class="nav-link bebas-neue-regular" href="#Nossas-academias">Nossas academias</a></li>
                    <li><a class="nav-link bebas-neue-regular" href="#matricule-se">Matriculas</a></li>
                </ul>

            </div>
        </section>
    </nav>    
</header>